<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wolf.shin.simple_social_login">

    <application>

        <activity
            android:name=".google.GoogleSignInActivity"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|screenLayout|fontScale|uiMode|orientation|screenSize|layoutDirection"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="${kakaoNativeKey}" />
            </intent-filter>
        </activity>

    </application>

</manifest>